# ignorar node_modules
node_modules

Consultas/*
!Consultas/.gitkeep

ConsultasPS/*
!ConsultasPS/.gitkeep

TaskBoardTracker/*
!TaskBoardTracker/.gitkeep

TaskBoardPS/*
!TaskBoardPS/.gitkeep

ExcelTaskBoardPS/*
!ExcelTaskBoardPS/.gitkeep

.env

pnpm-lock.yaml

prueba.js
notas.md
Excel/*
!Excel/.gitkeep
ConsultasUpdate.js